<div class="jumbotron">
<p>We are a diverse pharmacy team with decades of combined experience. Using our knowledge from working in retail pharmacies, we've devised a system and web-based application for you to manage all your medications. It is user-friendly, easy to learn, and fun to try!</p>
<select name="frequency" id="frequency">
  <option value="1">once daily</option>
  <option value="2">twice daily</option>
  <option value="3">three times daily</option>
</select>

</div>