<div class="jumbotron">
<h1>CompactMeds</h1>
<p>An innovative system to compartmentalize and organize your medications</p>
<p><%= link_to "Let's start", "#", class: "btn btn-primary btn-lg" %></p>
<br>
<p>
	<img src="http://www.jhsph.edu/sebin/p/e/medication-safety.jpg" alt="safety" height="200" width="25%">
	<img src="http://www.apotheka.com/gestor/ArchivosDeUsuario/image/4.jpg" alt="diverse" height="200" width="25%">
	<img src="http://cdn3.collective-evolution.com/assets/uploads/2015/02/Adult-Vaccine.jpg" alt="vaccine" height="200" width="25%">
	<img src="http://4.bp.blogspot.com/_mIDxsiKmEL8/TMxRKW4Qc2I/AAAAAAAABQ4/_MIKpEwUprA/s320/Caduceus1.jpg" alt="harm" height="200" width="20%">
</p>
</div>